@model IEnumerable<Automarket1.Model>

@{
    ViewData["Title"] = "Моделі";
}

<h1>Моделі</h1>


<p>
    <a asp-action="Create"><button type="button" class="btn btn-success">Додати модель</button></a>
</p>
<p>

</p>
<div>
    <h3>Оберіть excel-файл для завантаження</h3>
    @using(Html.BeginForm("Import", "Models", FormMethod.Post, new { enctype = "multipart/form-data", id =
    "frm-excel"}))
    {
        <div>
            Завантажте Excel-файл:
            <input  type="file" name="fileExcel" id="fileExcel"/>
            <div>
                <input type="submit" value="Завантажити" class="btn btn-outline-success"/>
            </div>
            <div>
            <p class="text-danger">@ViewBag.error</p>
            <p class="text-warning">@ViewBag.message</p>
            </div>
        </div>
    }
</div>

<div>
    <h3>Завантаження інформації у файл</h3>
    <a asp-action="Export"><button class="btn btn-outline-success">Завантажити</button></a>
</div>
<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button type ="button" class ="btn btn-warning">Редагувати</button></a>
                <a asp-action="Details" asp-route-id="@item.Id"><button type ="button" class ="btn btn-info">Деталі</button></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><button type ="button" class ="btn btn-danger">Видалити</button></a>
            </td>
        </tr>
}
    </tbody>
</table>


<div class="container">
    <div id="chart1"></div>
</div>
@section scripts{
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Chart/JsonDataModels', function(JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Співвідношення кількості машин та моделей",
                    is3D: true,
                    width: 900,
                    height: 900
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}

