@model IEnumerable<Automarket1.Car>

@{
    ViewData["Title"] = "Машини";
}

<h1>Машини</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-success">Додати машину</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.Model1)
            </td>
            @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><button type ="button" class ="btn btn-warning">Редагувати</button></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><button type ="button" class ="btn btn-info">Деталі</button></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><button type ="button" class ="btn btn-danger">Видалити</button></a>
                    </td>
                }
                else
                {
                    <td>
                     <a asp-action="Details" asp-route-id="@item.Id"><button type ="button" class ="btn btn-info">Деталі</button></a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
