@model Automarket1.Sale

@{
    ViewData["Title"] = "Створення продажу";
}

<h1>Додавання продажу до клієнта @ViewBag.CustomerFullName</h1>

<h4>Продаж</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <p>

            </p>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select asp-for="CarId" class ="form-control" asp-items="ViewBag.CarId"></select>
            </div>
            <div>
            <p class="text-danger">@ViewData["ErrorMessage_Car"]</p>
            </div> 
            <p>

            </p>
            <div class="form-group">
                <label asp-for="DateSale" class="control-label"></label>
                <input asp-for="DateSale" class="form-control" />
                <span asp-validation-for="DateSale" class="text-danger"></span>
            </div>
            <p>

            </p>
            <input type ="hidden" value = "@ViewBag.CustomerId" name = "CustomerId" />
            <p>

            </p>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
            <p>

            </p>
        </form>
    </div>
</div>

<div>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
</div> 

<p>
@Html.ActionLink("Повернутися до списку","Index", new {id = ViewBag.EmployeeId, name = ViewBag.EmployeeFullName}, new {@class = "btn btn-outline-primary"})
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
