@model IEnumerable<Automarket1.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Клієнти</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-success">Додати клієнта</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button type ="button" class ="btn btn-warning">Редагувати</button></a>
                <a asp-action="Details" asp-route-id="@item.Id"><button type ="button" class ="btn btn-info">Деталі</button></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><button type ="button" class ="btn btn-danger">Видалити</button></a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="container">
    <div id="chart1"></div>
</div>
@section scripts{
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Chart/JsonDataCustomers', function(JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Співвідношення кількості покупок клієнта на продаж",
                    is3D: true,
                    width: 800,
                    height: 600,
                    colors: ['green']

                };
                chart = new google.visualization.SteppedAreaChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}